# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Test data / Personal logs
*.adi
wsjtx_log.adi

# Virtual Environments
venv/
env/
.venv/

# IDEs and Editors
.vscode/
.idea/
*.swp
